<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cat Warehouse</title>
</head>
<body>
    <section class="top">
        <div class="container">
            <div class="row justify-content">
                <div class="logo"><a href="/"><img src="/images/logo.png" alt="Logo"></a></div>
                <div class="menu-bar"></div>
            </div>
        </div>
    </section>
    <section class="big-image">
        <div class="big-image-content">
            <h2>Cat Warehouse</h2>
            <p>Kho hàng lớn nhất Hà Đông</p>
            <a href="/login"><button class="big-image-content-btn btn">Tham gia</button></a>
        </div>
    </section>
    <section class="about section-pading">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 data-title="Tổng quan">Lịch sử phát triển</h2>
                </div>
            </div>
            <div class="row">
                    <div class="about-item">
                        <h2>Chào mừng đến với Cat Warehouse</h2>
                        <p>Cat Warehouse là kho hàng lớn nhất Hà Đông. Chúng tôi có lịch sử phát triển lâu dài hơn 5 năm.
                        Tiền thân của chúng tôi là kho hàng của tập đoàn STAC sau đó được tách ra và tái cơ cấu hoạt động.
                        Từ đó, chúng tôi phát triển và dần trở thành một phần không thể thiếu của các kênh bán hàng.    
                        Chúng tôi vẫn đang trên đà phát triển hơn nữa với việc mở thêm những chi nhánh trên khắp cả nước.
                        Đội ngũ nhân viên tốt, được đào tạo bài bản với tinh thần tránh nhiệm là phương châm. Chúng tôi luôn sẵn sàng phục vụ
                        và đem lại trải nhiệm tốt nhất cho khách hàng. Theo dõi chúng tôi để biết thêm thông tin.</p>
                        <a href="https://www.youtube.com/watch?v=7YLA3_QIeA0&ab_channel=FreakDMusic"><button class="btn">Xem Thêm</button></a>
                    </div>
                    <div class="about-item">
                        <div class="about-item-img">
                            <span>Hơn 5 năm</span>
                            <img src="/images/about.png" alt="about">
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <section class="box">
        <div class="service-wrapper">
            <div class="service ">
                <h1>Dịch vụ của chúng tôi <span></span></h1>
                <div class="cards">
                    <div class="card">
                        <i class='bx bxs-cart' ></i>
                        <h2>Nhà cung cấp</h2>
                        <p>Trở thanh nhà cung cấp của chúng tôi sẽ được hưởng rất nhiều ưu đãi. Bạn sẽ luôn được cập nhật những thông tin về giá cả
                        trên thị trường. Chúng tôi cung cấp dịch vụ vận chuyển tận nơi để giúp cho các sản phẩm luôn là tốt nhất.
                        </p>
                    </div>
                    <div class="card">
                        <i class='bx bxs-truck'></i>
                        <h2>Khách hàng</h2>
                        <p>Khách hàng của chúng tôi sẽ luôn được hưởng những ưu đãi đặc biệt về giá cả cũng nhưng hỗ trợ vận chuyển.
                        Chúng tôi có những chuyên viên chăm sóc khách hàng 24/7 luôn sẵn sàng tư vấn.
                        </p>
                    </div>
                    <div class="card">
                        <i class='bx bxs-notepad' ></i>
                        <h2>Người quản lý kho hàng</h2>
                        <p>Người quản lý sẽ giúp chúng tôi quản lý hoạt động của các đơn hàng cũng như quản lý việc lưu trữ hàng hóa trong kho. 
                        Điều kiện làm việc chuyên nghiệp cùng với sự giúp đỡ từ nhiều công cụ hỗ trợ sẽ cho bạn quản lý dễ dàng.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="footer-bg"></div>
        <div class="container">
            <div class="row justify-content">
                <div class="footer-item">
                    <h2>Địa chỉ</h2>
                    <p>7 Ngõ 1 Trung Văn <br>Nam Từ Liêm, Hà Nội</p>
                </div>
                <div class="footer-item">
                    <h2>Giờ mở cửa</h2>
                    <p>7:00 - 23:00<br>Tất cả các ngày trong tuần</p>
                </div>
                <div class="footer-item">
                    <h2>Liên hệ</h2>
                    <p>Phone: 0968698102 <br>Email: sangtd2005@gmail.com</p>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>