<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="http://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <title>Product</title>
</head>
<body>
    <section class="top">
        <div class="container">
            <div class="row justify-content">
                <div class="logo"><a href="/"><img src="/images/logo.png" alt="Logo"></a></div>
                <div class="menu-bar">
                    <span></span>
                </div>
                <div class="menu-items">
                    <ul>
                        <li class="menu-item">
                            <i class='bx bxs-home'></i>
                            <a href="/">Home</a>
                        </li>
                        <li class="menu-item">
                            <i class='bx bxs-home'></i>
                            <a href="/">Product</a>
                        </li>
                        <li class="menu-item">
                            <i class='bx bxs-home'></i>
                            <a href="/">Nhập hàng</a>
                        </li>
                        <li class="menu-item">
                            <i class='bx bxs-home'></i>
                            <a href="/">Xuất hàng</a>
                        </li>
                        <li class="menu-item">
                            <i class='bx bxs-home'></i>
                            <a href="/">Supplier</a>
                        </li>
                        <li class="menu-item">
                            <i class='bx bxs-home'></i>
                            <a href="/">Customer</a>
                        </li>
                        <li class="menu-item">
                            <i class='bx bx-user'></i>
                            <a href="/login">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <script src="/js/script.js"></script>
</body>
</html>