@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
:root {
    --main-color: black;/*#191F3A;*/
    --sub-color: #EAA023;
    --text-color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.btn {
    background-color: transparent;
    padding: 15px 30px;
    border: 2px solid var(--sub-color);
    border-radius: 50px;
    color: var(--sub-color);
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn:hover {
    background-color: #ffffff;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.section-pading {
    padding: 80px 0;
}
.justify-content {
    justify-content: space-between;
}
.container {
    margin: auto;
    max-width: 1200px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.top {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 99;
}
.top::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.1s ease;
}
.top.active::before {
    transform: translateY(0);
}
.top .logo img {
    width: 60px;
}
.top .menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.top .menu-bar.active {
    position: fixed;
    top: 30px;
    right: 0;
    transform: translateX(-200px);
    z-index: 1;
}
.top .menu-bar span{
    display: block;
    height: 5px;
    width: 45px;
    background-color: var(--sub-color);
    position: relative;
}
.top .menu-bar.active span {
    background-color: transparent;
}
.top .menu-bar.active span::before {
    transform: rotate(-135deg);
}
.top .menu-bar.active span::after {
    transform: rotate(135deg);
}
.top .menu-bar span::before {
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(--sub-color);
    content: "";
    position: absolute;
    transform: translateY(-10px);
    transition: all 0.5s ease;
}
.top .menu-bar span::after {
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(--sub-color);
    content: "";
    position: absolute;
    transform: translateY(+10px);
    transition: all 0.5s ease;
}
.menu-items {
    position: fixed;
    width: 270px;
    height: 100vh;
    background-color: var(--main-color);
    right: 0;
    top: 0;
    padding: 100px 50px;
    transform: translateX(100%);
    transition: all 0.5s ease;
}
.menu-items.active {
    transform: translateX(0);
}
.menu-items a {
    color: var(--text-color);
    line-height: 40px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.menu-items i {
    color: #ffffff;
    font-size: 1.5rem;
}

/*--------------------big image---------------------------*/
.big-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.big-image::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/big-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    animation: Inout 5s infinite;
}
@keyframes Inout {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
.big-image::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: -2;
}
.big-image .big-image-content {
    text-align: center;
    width: 95%;
}
.big-image .big-image-content h2 {
    font-size: 50px;
    color: var(--text-color);
    font-family: 'Dancing Script';
}
.big-image .big-image-content p {
    font-size: 25px;
    color: var(--text-color);
    font-weight: bold;
    margin: 15px 0;
    font-family: 'Roboto', sans-serif ;
}

/* ---------------------------about---------------------------*/
.about {
    background-color: var(--main-color);
}
.section-title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.section-title h2{
    font-size: 40px;
    color: var(--text-color);
    text-transform: uppercase;
}
.section-title h2::before {
    content: attr(data-title);
    display: block;
    color: var(--sub-color);
    font-size: 30px;
    font-family: 'Dancing Script';
}
.about .about-item h2 {
    color: var(--text-color);
    font-size: 30px;
}
.about .about-item p {
    font-size: 20px;
    margin: 15px 0 30px;
    color: var(--text-color);
}
.about .about-item img {
    width: 100%;
    border-radius: 10px;
}
.about-item {
    width: calc(100%/2);
    padding: 15px;
}
.about-item-img {
    position: relative;
}
.about-item-img span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--text-color);
    font-family: 'Dancing Script';
    font-weight: 900;
    font-size: 30px;
    transform: translate(-50%,-50%);
}
.about-item-img::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border: 5px solid var(--sub-color);
    position: absolute;
    top: 43%;
    left: 43%;
    transform: translate(-50%, -50%);
    animation: xoayVong 5s infinite;
}
@keyframes xoayVong {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);};
}

/*-----------------Footer------------------*/
.footer {
    padding-top: 80px;
    position: relative;
}
.footer-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/footer.png");
    z-index: -2;
}
.footer::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    top: 0;
    opacity: 0.4;
    z-index: -1;
}
.footer-item {
    text-align: center;
    width: calc(100%/3);
}
.footer h2 {
    color: var(--text-color);
    font-size: 20px;
}
.footer p {
    color: var(--text-color);
    margin: 12px 0;
}

/*----------------Login-----------------*/
.wrapper {
    width: 30%;
    height: 50%;
    background: transparent;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 40px;
    
}
.wrapper h1 {
    font-size: 100px;
    text-align: center;
    font-family: 'Dancing script';
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}
.wrapper2 {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99;
}
.wrapper2Content {
    height: 600px;
    width: 500px;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 30px;
    position: relative;
}
.wrapper2 h1 {
    color: var(--text-color);
    font-size: 50px;
    text-align: center;
    font-family: 'Dancing script';
}
.wrapper2 .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}
.wrapper2 .btn {
    width: 75%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: var(--sub-color);
    font-weight: 600;
}
.wrapper3 {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99;
}
.wrapper3Content {
    height: 600px;
    width: 500px;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 30px;
    position: relative;
}
.wrapper3 h1 {
    color: var(--text-color);
    font-size: 50px;
    text-align: center;
    font-family: 'Dancing script';
}
.wrapper3 .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}
.wrapper3 .btn {
    width: 75%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: var(--sub-color);
    font-weight: 600;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: #ffffff;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: var(--sub-color);
    font-weight: 600;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
    color: #fff;
}
.close:hover { 
    font-size: 40px;
    transform: scale(1.15);
    cursor: pointer;
}
.big-image-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.big-image-login::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/big-image-login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    animation: Inout 5s infinite;
}
.big-image-login::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: -2;
}
/*------------table----------------*/
.d-none {
    display: none;
}
/*----------------service--------------*/
.box {
    width: 100%;
    background-color: black;
}
.service-wrapper {
    padding: 5% 8%;
}
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service h1 {
    color: #ffffff;
    font-size: 50px;
    position: relative;
}
.service h1::after {
    margin-top: 10px;
    content: "";
    position: absolute;
    top: 100%;
    left: 5%;
    height: 8px;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(255,255,255,.2);
}
.service h1 span {
    margin-top: 10px;
    position: absolute;
    top: 100%;
    left: 5%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--sub-color);
    animation: anim 3s linear infinite;
}

@keyframes anim {
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        left: 90%;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 80px;
}
.card {
    height: 350px;
    width: 100%/3;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 3% 8%;
    border: 0.2px solid var(--sub-color);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.card i {
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}
.card h2 {
    color: #ffffff;
    font-size: 30px;
}
.card p{
    text-align: left;
    width: 100%;
    margin: 12px 0;
    color: #ffffff;
}
.card:hover {
    background-color: transparent;
    transform: translateY(-20px);
    border-color: var(--sub-color);
}
.card:hover i {
    color: var(--sub-color);
}
@media print {
    .table, .table__body {
     overflow: visible;
     height: auto !important;
     width: auto !important;
    }
   }
.table {
    width: 100%;
    height: 80vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
}
.table .btn-create {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #fff6 url(../images/plus.png) center / 80% no-repeat;
    transition: .2s ease-in-out;
}
.table .btn-create:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}
.table .actions {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.table .btn-edit {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #fff6 url(../images/edit.png) center / 80% no-repeat;
    transition: .2s ease-in-out;
}
.table .btn-edit:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}
.table .btn-delete {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #fff6 url(../images/trash.png) center / 80% no-repeat;
    transition: .2s ease-in-out;
}
.table .btn-delete:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}
.table .btn-info {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #fff6 url(../images/info.png) center / 80% no-repeat;
    transition: .2s ease-in-out;
}
.table .btn-info:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}
.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 100%;
    max-height: 88%;
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid var(--sub-color);
}

thead th:hover {
    color: var(--sub-color);
}

thead th.active span.icon-arrow{
    background-color: var(--sub-color);
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: var(--sub-color);
}